<!-- 
*=========================================================================================
?   PROJETO ->> Desenvolvimento WEB Front End: Página de Links das Aulas do BootCamp Desenvolvedor Web Full Stack.
?   OBJETIVO ->> Página para unir visualmente todos os links das aulas que tivemos da Escola Koru, para podermos rever de forma organizada após término do BootCamp.
?   CRIAÇÃO E DESENVOLVIMENTO ->> Marcia Moreira
?   DATA DA CRIAÇÃO ->> 30/01/2024 a 04/02/2024.
?   MEU GITHUB ->> https://github.com/Marcia-Moreira
?   MEU LINK WAKATIME ->> https://wakatime.com/@Marcia_Moreira
?   MEU LINKEDIN ->> https://www.linkedin.com/in/marciamoreiramm
*========================================================================================
-->

<!-- ?! Falta incluir isso nas tag btn topo: title="voltar ao topo" -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/style.css">
    <script src="https://kit.fontawesome.com/9d994b86e7.js" crossorigin="anonymous"></script>
    <title>LINKs KORU</title>
</head>
<body>
    <header>
        <!-- Cabeçalho / Menu -->
        <h1 id="topo">LINKs de Todas as Aulas da Escola KORÚ</h1>
        <h2>(Bootcamp Desenvolvedor Full Stack 2023-2024)</h2>
        <div class="links_acesso">
            <div class="link">
                <a href="https://escolakoru.edusense.app/">Link acesso à Portal KORÚ</a>
            </div>
            <div class="link">
                <a href="https://zoom.us/j/93096552275?pwd=ViswdFVHMlVTZmtFK2hPSllySVlBQT09">Link da Aula ao Vivo no ZOOM</a>
            </div>
        </div>
    </header>
    <main>
        <div class="caixa-fundo">
<!-- MENU -->
            <h2>Menu dos Módulos</h2>
            <div class="menu_modulos">
                <div class="modulo">
                    <a href="#logica">Lógica</a>
                </div>
                <div class="modulo">
                    <a href="#gestao">Gestão</a>
                </div>
                <div class="modulo">
                    <a href="#front">Front End</a>
                </div>
                <div class="modulo">
                    <a href="#back">Back End</a>
                </div>
                <div class="modulo">
                    <a href="#dados">Dados</a>
                </div>
                <div class="modulo">
                    <a href="#cloud">Cloud</a>
                </div>
            </div>
            <!-- Principal / Corpo-->
<!-- MÓDULO -->
            <h2 id="logica">LÓGICA DE PROGRAMAÇÃO - IFOOD/23 (DEV)</h2>
            <div class="aula_logica">
                <div class="aula_gravada">
                    <h5>AULAS GRAVADAS:</h5>
                    <div>
                        <h3>Raciocínio Lógico:</h3>
                        <a href="https://youtu.be/6Hhrm0auqug" target="_blank">Vídeo 01</a>
                    </div>
                    <div>
                        <h3>App Scratch:</h3>
                        <a href="https://youtu.be/BFWlTCYeC08" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/6Hhrm0auqug " target="_blank">Vídeo 02</a>
                        <!-- (Parece erro - não tem o 2) -->
                        <a href="https://youtu.be/mUkByEs6siA" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/qj5Ola1q7P8" target="_blank">Vídeo 04</a>
                        <a href="https://youtu.be/RWZmwBt6nWk" target="_blank">Vídeo 05</a>
                    </div>
                    <div>
                        <h3>App Microbit:</h3>
                        <a href="https://youtu.be/Af0PMX0G5Mc" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/Gc_W9LufeaY" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/UZgZsGMU7a4" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Excel:</h3>
                        <a href="https://youtu.be/ZdVn4BTPI8E" target="_blank">Vídeo 01</a>
                    </div>
                    <div>
                        <h3>Introdução à Python:</h3>
                        <a href="https://youtu.be/dTqz2-QpKNQ" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/f920_X0cehk" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/S05KY4exyoU" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/xJQpmemXkaM" target="_blank">Vídeo 04</a>
                        <a href="https://youtu.be/vroex14OFdc" target="_blank">Vídeo 05</a>
                    </div>
                    <div>
                        <h3>Arrays e Laços de Repetição em Python:</h3>
                        <a href="https://youtu.be/eblk8tp1Wx8" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/Y4ltZnB6d8Q" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/sG0seyrhRkE" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/wAZZI5uV5wI" target="_blank">Vídeo 04</a>
                        <a href="https://youtu.be/VnySTDgzMcE" target="_blank">Vídeo 05</a>
                    </div>            
                    <div>
                        <h3>Dicionário em Python:</h3>
                        <a href="https://youtu.be/YShOlZY4PHI" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/r2RdFRiu7L8" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/W7nOIYUGl8I" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Funções em Python:</h3>
                        <a href="https://youtu.be/ukEJt4YMFas" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/JlH_sO31RQk" target="_blank">Vídeo 02</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>
            </div>
                <div class="aula_ao_vivo">
                    <h5>AULAS AO VIVO:</h5>
                    <div>
                        <h4>TUTORIA:</h4>
                        <a href="#" target="_blank">- Não teve nesse módulo -</a>
                        <h4>DEMAIS AULAS:</h4>
                        <a href="#" target="_blank">- Não teve nesse módulo -</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>           
            </div>
<!-- MÓDULO -->
            <h2 id="gestao">GESTÃO DE PROJETOS, PRODUTOS E SEGURANÇA DA INFORMAÇÃO - IFOOD/23 (DEV)</h2>
            <div class="aula_gestao">
                <div class="aula_gravada">
                    <h5>AULAS GRAVADAS:</h5>
                    <div>
                        <h3>Por dentro do Mundo Ágil:</h3>
                        <a href="https://youtu.be/dwteh4DLFBM" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/BRZi8OjSYU4" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/k_MU9WB8Tzw" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/z5q2gr5mWnM" target="_blank">Vídeo 04</a>
                    </div>
                    <div>
                        <h3>Cerimônias e Rotinas de Trabalho:</h3>
                        <a href="https://youtu.be/uf6FPTJtuJ0" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/pF39lqdaPmI" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/uy3FhhPAW3I" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Novas formas de Trabalho e Colaboração remota:</h3>
                        <a href="https://youtu.be/PRTXU0JnmQQ" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/X9-PvayJrjQ" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/E6j4BitPPQk" target="_blank">Vídeo 03</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>
                <div class="aula_ao_vivo">
                    <h5>AULAS AO VIVO:</h5>
                    <div>
                        <h4>TUTORIA:</h4>
                        <a href="https://youtu.be/uvttTMzK0E0" target="_blank">Tutoria 01</a>
                        <a href="https://youtu.be/_gb-qIsCjd8" target="_blank">Tutoria 02</a>
                        <a href="https://youtu.be/Q5qNjek1jf0" target="_blank">Tutoria 03</a>
                        <h4>DEMAIS AULAS:</h4>
                        <a href="https://youtu.be/P4UdJBp15ik" target="_blank">Metodologias Ágeis e suas aplicações</a>
                        <a href="https://youtu.be/71BGcgh82qc" target="_blank">Liderança e formação de Supertição</a>
                        <a href="https://youtu.be/mtsiBHdVSTo" target="_blank">Governança de Dados</a>
                        <a href="https://youtu.be/oXy9GOkbtBA" target="_blank">O Mundo Digital</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                     </a>
                </div>            
            </div>
<!-- MÓDULO -->
            <h2 id="front">DESENVOLVIMENTO FRONT-END - IFOOD/23</h2>
            <div class="aula_front_end">
                <div class="aula_gravada">
                    <h5>AULAS GRAVADAS:</h5>
                    <div>
                        <h3>Introdução ao front end:</h3>
                        <a href="https://youtu.be/1xq7HCSFb94" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/SGWasDU8cfM" target="_blank">Vídeo 02</a>
                    </div>
                    <div>
                        <h3>HTML:</h3>
                        <a href="https://youtu.be/kE_MgEMxxAg" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/ODwFvc9IJFo" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/euuBGFQUKQ4" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/W06ImfxyxEo" target="_blank">Vídeo 04</a>
                    </div>
                    <div>
                        <h3>CSS:</h3>
                        <a href="https://youtu.be/Y-_BYPg08UY" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/uLmgFuNJM4U" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/lRdSnuwIOwk" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Layout responsivo:</h3>
                        <a href="https://youtu.be/8fjdvwkzmcc" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/YVZYVcz9e3A" target="_blank">Vídeo 02</a>
                    </div>
                    <div>
                        <h3>JavaScript:</h3>
                        <a href="https://youtu.be/xuAyCn4ev08" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/ibJVLHesRHU" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/vDi6Y54uM84" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/8UhMO0CPkiY" target="_blank">Vídeo 04</a>
                    </div>
                    <div>
                        <h3>Brading e Style guide:</h3>
                        <a href="https://youtu.be/rjEXFZoZZ6U" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/6-7D2HENTW0" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/p6oNtwg9JUk" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/5xUALDjIFN8" target="_blank">Vídeo 04</a>
                    </div>            
                    <div>
                        <h3>UI e Pattern Library:</h3>
                        <a href="https://youtu.be/q-PeT6AMBsE" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/28T3Ln6FxcM" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/OEdWV_gIkz8" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/KYkHlrEI4GE" target="_blank">Vídeo 04</a>
                    </div>
                    <div>
                        <h3>UX e Desing System:</h3>
                        <a href="https://youtu.be/noLc8mR-4a8" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/q-OHVrbXEr8" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/DsLE9Y-yEbc" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/DDWEK2uNO7I" target="_blank">Vídeo 04</a>
                    </div>            
                    <div>
                        <h3>Codificação de Protótipos</h3>
                        <a href="https://youtu.be/gg2BuEa5xyk" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/gECvUGzlKJQ" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/rQV4UydsmmE" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/IYBp8pTs6KA" target="_blank">Vídeo 04</a>
                    </div>  
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div> 
                <div class="aula_ao_vivo">
                    <h5>AULAS AO VIVO:</h5>
                    <div>
                        <h4>TUTORIA:</h4>
                        <a href="https://youtu.be/AigtEspcrgs" target="_blank">Tutoria 01</a>
                        <a href="https://youtu.be/MDHYitW-cuY" target="_blank">Tutoria 02</a>
                        <a href="https://youtu.be/snPmzrdSplw" target="_blank">Tutoria 03</a>
                        <a href="https://youtu.be/Ouk27i6Q8q8" target="_blank">Tutoria 02</a>
                        <a href="https://youtu.be/2lFNE53P8c8" target="_blank">Tutoria 03</a>
                        <h4>DEMAIS AULAS:</h4>
                        <a href="#" target="_blank">Introdução ao front end: - erro no link </a>
                        <a href="https://youtu.be/TbpBN1cnBpE" target="_blank">CSS:</a>
                        <a href="https://youtu.be/LTsEgqWmgkE" target="_blank">Linkedin:</a>
                        <a href="https://youtu.be/MhsZP8aEHUI" target="_blank">JavaScript:</a>
                        <a href="https://youtu.be/E-CoABDcSzQ" target="_blank">Biblioteca Bootstrap:</a>
                        <a href="https://youtu.be/AB1FPhA490E" target="_blank">Biblioteca React:</a>
                        <a href="https://youtu.be/mIEYBfwh7wM" target="_blank">Desenvolvimento de Página Responsiva:</a>
                        <a href="https://youtu.be/Q2QcDoaKL8w" target="_blank">Comunicação Back End APIs: 01</a>
                        <a href="https://youtu.be/yCCfq5mdw_w" target="_blank">Comunicação Back End APIs: 02</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>               
            </div>
<!-- MÓDULO -->
            <h2 id="back">DESENVOLVIMENTO BACK-END - IFOOD/23 (DEV)</h2>
            <div class="aula_back_end">
                <div class="aula_gravada">
                    <h5>AULAS GRAVADAS:</h5>
                    <div>
                        <h3>Instalação do Python e da IDE:</h3>
                        <a href="https://youtu.be/qiGJLl9WhME" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/2SU83SrbD-g" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/tHKkgy5fTmY" target="_blank">Vídeo 03</a>
                        <a href="#" target="_blank">Vídeo 04</a>
                        <a href="#" target="_blank">Vídeo 05</a>
                    </div>
                    <div>
                        <h3>A importância das variáveis e o poder dos dicionários:</h3>
                        <a href="https://youtu.be/RBIL_jUrRFo" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/JGxnW8Zq0ys" target="_blank">Vídeo 02</a>
                    </div>
                    <div>
                        <h3>Pacotes Adicionais:</h3>
                        <a href="https://youtu.be/HZom9au7LfA" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/CiDf-zGJwQg" target="_blank">Vídeo 02</a>
                    </div>
                    <div>
                        <h3>Flask:</h3>
                        <a href="https://youtu.be/sMxO4930bqc" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/KOvk_tfwAGA" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/3ga3P2SkGKk" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/l_Kfuz9bvrA" target="_blank">Vídeo 04</a>
                        <a href="https://youtu.be/TIX_58VVY4U" target="_blank">Vídeo 05</a>
                    </div>
                    <div>
                        <h3>CRUD:</h3>
                        <a href="https://youtu.be/-Vb6byF0AFE" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/T-8R1TOslYQ" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/r5TjXLh_kbE" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/jc-3KgDNlWU" target="_blank">Vídeo 04</a>
                        <a href="https://youtu.be/pUdRc6hMvo8" target="_blank">Vídeo 05</a>
                    </div>
                    <div>
                        <h3>Banco de Dados Relacionais no Python:</h3>
                        <a href="https://youtu.be/cKBGbWjc8qM" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/Tu7vYaoZnhc" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/ViGKYuqRfiE" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/cfRAxGROP4I" target="_blank">Vídeo 04</a>
                        <a href="https://youtu.be/JE__QYuA044" target="_blank">Vídeo 05</a>
                        <a href="https://youtu.be/nONkBWRUhIE" target="_blank">Vídeo 06</a>
                        <a href="https://youtu.be/9Zq2Xlr0_EY" target="_blank">Vídeo 07</a>
                    </div>            
                    <div>
                        <h3>Testes:</h3>
                        <a href="https://youtu.be/EoFQ6gRFstk" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/_ZQbpsiZkus" target="_blank">Vídeo 02</a>
                    </div>
                    <div>
                        <h3>API:</h3>
                        <a href="https://youtu.be/hx4A6IHm6WM" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/Bkr9cEXij7k" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/t12vlWO0u-s" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/XDMpPG0J9eU" target="_blank">Vídeo 04</a>
                        <a href="https://youtu.be/5-MeFDUu4eM" target="_blank">Vídeo 05</a>
                        <a href="https://youtu.be/7XM23-5gCbE" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/r7SkI4F1VfY" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/9hrOsqb0N6c" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/4EVQh3WtiZc" target="_blank">Vídeo 02</a>
                    </div>            
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div> 
                <div class="aula_ao_vivo">
                    <h5>AULAS AO VIVO:</h5>
                    <div>
                        <h4>TUTORIA:</h4>
                        <a href="#" target="_blank">- Não tem na Plataforma -</a>
                        <h4>DEMAIS AULAS:</h4>
                        <a href="https://youtu.be/NpACDOCerHs" target="_blank">Programando em Python:</a>
                        <a href="https://youtu.be/OR1uKk073Oc" target="_blank">Pensando em Web:</a>
                        <a href="https://youtu.be/Bp_pHqnCuMU" target="_blank">Hora dos Templates:</a>
                        <a href="https://youtu.be/KONV_FjvCGA" target="_blank">CRUD armazenando dados em arquivos:</a>
                        <a href="https://youtu.be/JJlDxw8fyqQ" target="_blank">CRUD armazenando dados em Banco de Dados SQLite: 01</a>
                        <a href="https://youtu.be/lY63R0jvbY4" target="_blank">CRUD armazenando dados em Banco de Dados SQLite: 02</a>
                        <a href="https://youtu.be/YSFiZP9gj3Y" target="_blank">O Back End vira uma API Rest: 01</a>
                        <a href="https://youtu.be/NXKayRePcXw" target="_blank">O Back End vira uma API Rest: 02</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>               
            </div>
<!-- MÓDULO -->
            <h2 id="dados">BANCO DE DADOS - IFOOD/24 (DEV)</h2>
            <div class="aula_banco_dados">
                <div class="aula_gravada">
                    <h5>AULAS GRAVADAS:</h5>
                    <div>
                        <h3>Banco de Dados relacionais e não relacionais:</h3>
                        <a href="https://youtu.be/H_DMx-KMbYQ" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/Y5qWh2VdGrY" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/Fj-UIyDugqU" target="_blank">Vídeo 03</a>
                        <a href="
                        https://youtu.be/mp4yNM9joa4" target="_blank">Vídeo 04</a>
                    </div>
                    <div>
                        <h3>Lakehouse-Conceitos e Fundamentos:</h3>
                        <a href="https://youtu.be/SxyMYvgnDDY" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/fuPaBhJ8Nxo" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/yQXioilTG4Y" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/2rCpa3M_z48" target="_blank">Vídeo 04</a>
                    </div>
                    <div>
                        <h3>Big Data - volume de dados:</h3>
                        <a href="https://youtu.be/FTubjclihNA" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/LgutZXR1UZY" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/Fut5qu8YLyY" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Introdução à Data Science:</h3>
                        <a href="https://youtu.be/tb2wrkBrczM" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/zldMgM_x73s" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/eA_WxpycAds" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Introdução à Data Visualization:</h3>
                        <a href="https://youtu.be/QjWiRAhBwXU" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/HlaCYrDnrl8" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/OWyCmVIAjkk" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Storytelling com dados:</h3>
                        <a href="https://youtu.be/kEhZNjeGRds" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/6ToYPey1C8E" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/PqdT51_tyHA" target="_blank">Vídeo 03</a>
                    </div>            
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>   
                <div class="aula_ao_vivo">
                    <h5>AULAS AO VIVO:</h5>
                    <div>
                        <h4>TUTORIA:</h4>
                        <a href="https://youtu.be/KM2kyhv_hjg" target="_blank">Tutoria 01</a>
                        <a href="https://youtu.be/M5AXPW0j2kw" target="_blank">Tutoria 02</a>
                        <h4>DEMAIS AULAS:</h4>
                        <a href="https://youtu.be/wjFXxtTtXjM" target="_blank">Diferença de Banco de Dados:</a>
                        <a href="https://youtu.be/BI0P6CTrvec" target="_blank">Design de Banco de Dados: 01</a>
                        <a href="https://youtu.be/0CYFJ8E7pQc" target="_blank">Design de Banco de Dados: 02</a>
                        <a href="#" target="_blank">SQL Básico: -Não encontrei vídeo-</a>
                        <a href="https://youtu.be/rpTBhjth8Sw" target="_blank">SQL Básico:</a>
                        <a href="#" target="_blank">SQL Avançado: -Não encontrei vídeo-</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>               
            </div>
<!-- MÓDULO -->
            <div class="aula_cloud_computing">
                <h2 id="cloud">CLOUD COMPUTING - IFOOD/24 (DEV)</h2>
                <div class="aula_gravada">
                    <h5>AULAS GRAVADAS:</h5>
                    <div>
                        <h3>Processamento de Dados na Núvem: Ferramentas</h3>
                        <a href="https://youtu.be/Lji2hu8clBI" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/tqC8BEOtaOc" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/LlnxQ1hQ4Ig" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Processamento de Dados na Núvem: práticas de análises e insights</h3>
                        <a href="https://youtu.be/Kn-NvW4MBxQ" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/OFkjWijCa84" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/BdAHhQqPi9M" target="_blank">Vídeo 03</a>
                    </div>            
                    <div>
                        <h3>Resiliência do DataLake e soluções analíticas: aula 01</h3>
                        <a href="https://youtu.be/JO9GZEeDLRA" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/p1xOgUOaJnk" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/2tcopbrF5ig" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/ZtKcIE_vSI4" target="_blank">Vídeo 04</a>
                        <a href="https://youtu.be/tWIeK822lCo" target="_blank">Vídeo 05</a>
                    </div>
                    <div>
                        <h3>Resiliência do DataLake e soluções analíticas: aula 02</h3>
                        <a href="https://youtu.be/1KdHSpWQW7o" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/f88JpwDFVfU" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/finB_f50iIM" target="_blank">Vídeo 03</a>
                        <a href="https://youtu.be/dM-8SIvYZ44" target="_blank">Vídeo 04</a>
                    </div>
                    <div>
                        <h3>Gerenciamento de Acessos</h3>
                        <a href="https://youtu.be/PuFk0FRHS0M" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/JpqrHGqiXYo" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/wK6Q6ttLavQ" target="_blank">Vídeo 03</a>
                    </div>
                    <div>
                        <h3>Machine Learning x Cloud</h3>
                        <a href="https://youtu.be/3CGtfJxImfc" target="_blank">Vídeo 01</a>
                        <a href="https://youtu.be/JpqrHGqiXYo" target="_blank">Vídeo 02</a>
                        <a href="https://youtu.be/wK6Q6ttLavQ" target="_blank">Vídeo 03</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>
                <div class="aula_ao_vivo">
                    <h5>AULAS AO VIVO:</h5>
                    <div>
                        <h4>TUTORIA:</h4>
                        <a href="#" target="_blank">Tutoria 01</a>
                        <a href="#" target="_blank">Tutoria 02</a>
                        <a href="#" target="_blank">Tutoria 03</a>
                        <h4>DEMAIS AULAS:</h4>
                        <a href="#" target="_blank">nome assunto</a>
                        <a href="#" target="_blank">nome assunto</a>
                        <a href="#" target="_blank">nome assunto</a>
                    </div>
                </div>
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>               
            </div>
<!-- MÓDULO -->
<!-- MODELO À UTILIZAR -->
<!--
            <div class="aula_modelo">
                <h2>Módulo IFOOD/24 (DEV)</h2>
                <div class="aula_gravada">
                    <h5>AULAS GRAVADAS:</h5>
                    <div>
                        <h3>Tema</h3>
                        <a href="#" target="_blank">Vídeo 01</a>
                        <a href="#" target="_blank">Vídeo 02</a>
                        <a href="#" target="_blank">Vídeo 03</a>
                        <a href="#" target="_blank">Vídeo 04</a>
                        <a href="#" target="_blank">Vídeo 05</a>
                    </div>
                    <div>
                        <h3>Tema</h3>
                        <a href="#" target="_blank">Vídeo 01</a>
                        <a href="#" target="_blank">Vídeo 02</a>
                        <a href="#" target="_blank">Vídeo 03</a>
                        <a href="#" target="_blank">Vídeo 04</a>
                        <a href="#" target="_blank">Vídeo 05</a>
                    </div>            <div>
                        <h3>Tema</h3>
                        <a href="#" target="_blank">Vídeo 01</a>
                        <a href="#" target="_blank">Vídeo 02</a>
                        <a href="#" target="_blank">Vídeo 03</a>
                        <a href="#" target="_blank">Vídeo 04</a>
                        <a href="#" target="_blank">Vídeo 05</a>
                    </div>
                </div>
-->
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
<!--
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>   
                <div class="aula_ao_vivo">
                    <h5>AULAS AO VIVO:</h5>
                    <div>
                        <h4>TUTORIA:</h4>
                        <a href="#" target="_blank">Tutoria 01</a>
                        <a href="#" target="_blank">Tutoria 02</a>
                        <a href="#" target="_blank">Tutoria 03</a>
                        <h4>DEMAIS AULAS:</h4>
                        <a href="#" target="_blank">nome assunto</a>
                        <a href="#" target="_blank">nome assunto</a>
                        <a href="#" target="_blank">nome assunto</a>
                    </div>
                </div>
-->
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
<!--
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>               
            </div>
-->
            <!-- Módulo MODELO PADRÃO-->
<!--
            <div class="aula_modelo_trocar">
                <h2>Módulo IFOOD/24 (DEV)</h2>
                <div class="aula_gravada">
                    <h5>AULAS GRAVADAS:</h5>
                    <div>
                        <h3>Tema</h3>
                        <a href="#" target="_blank">Vídeo 01</a>
                        <a href="#" target="_blank">Vídeo 02</a>
                        <a href="#" target="_blank">Vídeo 03</a>
                        <a href="#" target="_blank">Vídeo 04</a>
                        <a href="#" target="_blank">Vídeo 05</a>
                    </div>
                    <div>
                        <h3>Tema</h3>
                        <a href="#" target="_blank">Vídeo 01</a>
                        <a href="#" target="_blank">Vídeo 02</a>
                        <a href="#" target="_blank">Vídeo 03</a>
                        <a href="#" target="_blank">Vídeo 04</a>
                        <a href="#" target="_blank">Vídeo 05</a>
                    </div>            <div>
                        <h3>Tema</h3>
                        <a href="#" target="_blank">Vídeo 01</a>
                        <a href="#" target="_blank">Vídeo 02</a>
                        <a href="#" target="_blank">Vídeo 03</a>
                        <a href="#" target="_blank">Vídeo 04</a>
                        <a href="#" target="_blank">Vídeo 05</a>
                    </div>
                </div>
-->
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
<!--
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>   
                <div class="aula_ao_vivo">
                    <h5>AULAS AO VIVO:</h5>
                    <div>
                        <h4>TUTORIA:</h4>
                        <a href="#" target="_blank">Tutoria 01</a>
                        <a href="#" target="_blank">Tutoria 02</a>
                        <a href="#" target="_blank">Tutoria 03</a>
                        <h4>DEMAIS AULAS:</h4>
                        <a href="#" target="_blank">nome assunto</a>
                        <a href="#" target="_blank">nome assunto</a>
                        <a href="#" target="_blank">nome assunto</a>
                    </div>
                </div>
-->
                <!-- DIV BOTÃO VOLTAR AO TOPO -->
<!--
                <div class="btn_topo">
                    <a class="topo" href="#topo">
                        <i class="fa-regular fa-hand-point-up">Topo</i>
                    </a>
                </div>               
            </div>
-->
<!-- FIM DO PADRÃO DO CORPO DA PÁGINA -->
        </div>
    </main>
    <footer>
<!-- RODAPÉ DA PÁGINA -->
        <div class="rodape">
            <div class="rodape_inter">
                <a href="https://wa.me/5511977219430" target="_blank" class="rodape_icone"><i class="fa-brands fa-whatsapp">WhatsApp</i></a>
            </div>
            <div class="rodape_inter">
                <a href="https://www.linkedin.com/in/marciamoreiramm" target="_blank" class="rodape_icone"><i class="fa-brands fa-linkedin">LinkedIn</i></a>
            </div>
            <div class="rodape_inter">
                <a href="https://github.com/Marcia-Moreira" target="_blank" class="rodape_icone"><i class="fa-brands fa-github">GitHub</i></a>
            </div>
        </div>
        <div class="dados_gerais">
            <p> - Todos os direitos reservados à Escola Korú referente ao conteúdo das aulas - </p>
            <p> - Ao visitar os links das aulas no Youtube, não se esqueça de curtir e comentar - </p>
            <P> - Autoria e Desenvolvimento da Página Web: Marcia_Moreira (02/2024 - v.01) - </P>
        </div>
    </footer>
</body>
</html>
