<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links das Aulas e Plataformas de Estudo</title>
</head>
<body>
    <header>

    </header>
    <body>
        <section>
            <h2>Korú</h2>
            <br>
            <p>Sobre:  </p>
            <br>
            <h4>Link da Plataforma</h4>
            <a></a>
            <h4>Link da Aula ao Vivo</h4>
            <a href="https://zoom.us/j/93096552275?pwd=ViswdFVHMlVTZmtFK2hPSllySVlBQT09"></a>
            <h4>Link da Reunião</h4>
        </section>

        <section>
            <h2>Carolinas</h2>
            <br>
            <p>Sobre: Procura de Emprego </p>
            <br>
            <h4>Link da Plataforma</h4>
            <a href="https://scmacademy.curseduca.pro/courses"></a>
            <h4>Link da Aula ao Vivo</h4>
            <a href="https://lp.secandidatemulher.com.br/obrigada"></a>
            <h4>Link da Reunião</h4>
            <a></a>
            <h4>Link Diverso</h4>
            <a href="https://www.youtube.com/live/bvsyDCT1lbU?si=QNPAqHA4kiw5GN4_"></a>
        </section>

        <section>
            <h2>Programaria</h2>
            <br>
            <p>Sobre: rever </p>
            <br>
            <h4>Link da Plataforma</h4>
            <a href="https://www.programaria.org/cursos-programaria/"></a>
            <h4>Link da Aula ao Vivo</h4>
            <a></a>
            <h4>Link da Reunião</h4>
            <a></a>
            <h4>Link da Planilha Agenda</h4>
            <a href="https://docs.google.com/document/d/1yTxn8-8j6TVIqijYRbg2gswxnqLxGTDT3wDBIOV1sCM/edit"></a>
        </section>

        <section>
            <h2>Hackers do Bem</h2>
            <br>
            <p>Sobre: CiberSegurança </p>
            <br>
            <h4>Link da Plataforma</h4>
            <a></a>
            <h4>Link da Aula ao Vivo</h4>
            <a></a>
            <h4>Link da Reunião</h4>
        </section>

        <section>
            <h2> WoMakersCode </h2>
            <br>
            <p>Sobre: Python e Django  </p>
            <br>
            <h4>Link da Plataforma</h4>
            <a href="http://maismulheres.tech/"></a>
            <h4>Link da Aula ao Vivo</h4>
            <a href="https://bit.ly/Sala-Python-Turma2">Link da Aula ao Vivo</a>
            <h4>Link da Reunião</h4>
            <a href="http://bit.ly/salaturma2-backend"></a>
            <h4>Link Cronograma / Planilha</h4>
            <a href="https://docs.google.com/spreadsheets/d/1SGvOu7n01nJrgceNCkppJ84dV3AR3-OV/edit?usp=sharing&ouid=112626935843593813521&rtpof=true&sd=true">Link Cronograma / Planilha</a>
            <h4>Link do Discord</h4>
            <a href="https://discord.gg/CUwvHdq7"></a>
        </section>

        <section>
            <h2> nome da instituição </h2>
            <br>
            <p>Sobre:  </p>
            <br>
            <h4>Link da Plataforma</h4>
            <a></a>
            <h4>Link da Aula ao Vivo</h4>
            <a></a>
            <h4>Link da Reunião</h4>
        </section>

        <section>
            <h2> nome da instituição </h2>
            <br>
            <p>Sobre:  </p>
            <br>
            <h4>Link da Plataforma</h4>
            <a></a>
            <h4>Link da Aula ao Vivo</h4>
            <a></a>
            <h4>Link da Reunião</h4>
        </section>

        <section>
            <h2> nome da instituição </h2>
            <br>
            <p>Sobre:  </p>
            <br>
            <h4>Link da Plataforma</h4>
            <a></a>
            <h4>Link da Aula ao Vivo</h4>
            <a></a>
            <h4>Link da Reunião</h4>
        </section>

    </body>

<!-- 

Links Aulas
Links Plataformas 

Fazer uma página com esses links:

WoMakersCode 

Acessos: Marcia Moreira 
mm.no.linkedin@gmail.com 
Mm@1331228113 

Link Aula Ao Vivo  01 a 03-2024: Python e Django


Link Plataforma:


Link Cronograma:
https://docs.google.com/spreadsheets/d/1SGvOu7n01nJrgceNCkppJ84dV3AR3-OV/edit?usp=sharing&ouid=112626935843593813521&rtpof=true&sd=true

Link do Discord:
https://discord.gg/CUwvHdq7


=============================

Ada Tech

Link Ada Tech Cursos Disponíveis:
https://comunidade.ada.tech/cursos/explorar

https://selecao.ada.tech/home
Rever
https://cursos.ada.tech/curso-digital/3da440b4-ae85-4f6c-9765-14a01032efd0

https://comunidade.ada.tech/cursos/782ad89c-d09a-4e88-8584-df2bacd594ab/modulo/dacd5733-641c-40e4-821c-a7c6972bb6d4/topico/1112cc9c-1b3b-4e52-9e89-8774324f208b

https://comunidade.ada.tech/cursos/explorar

Link ADA cursos disponíveis


============================



============================

Hackers do Bem


============================

Alura Imersão Semanal


============================

Koru


 -->

    <footer>

    </footer>    
</body>
</html>